# Books
App Design Apprentice A Non-Designer's Guide to Better Mobile UI and UX (Prateek Prasad) (Z-Library).pdf
Designing Interfaces Patterns for Effective Interaction Design (Tidwell, Jenifer, Brewer, Charles, Valencia etc.) (Z-Library).pdf
UI Design Systems Mastery (Marina Budarina) (Z-Library).pdf
UI Pedia - A Complete UI Design Guide (Pixsel Academy) (Z-Library).pdf